doctype
html
    head
        title hello
        script(src="../public/jquery-2.1.0.min.js")
    body
        h1 Welcome
        h2  This is a Jade Page
        form(method="post" action="/personjson")
            input(name="firstName")
            input(name="lastName")
            input(type="submit" value="ok")
        script.
            $.ajax({
                type:"POST",
                url:"/personjson",
                data:JSON.stringify({
                    firstName: 'Jane',
                    lastName: 'Doe..'
                }),
                dataType:'json',
                contentType:'application/json'
            })

