doctype
html
    head
        title Cars
        script(src="../public/jquery-2.1.0.min.js")
    body
        h1 Welcome
        h2  Upload to cars database
        form(method="post" action="/photos")
            label Make :
            input(name="make")

            br
            br
            input(type="submit" value="Post to Database")

