<div class="container">
    <form class="form-horizontal" [ngFormModel]="registerForm" (submit)="registerUser()">
        <fieldset>
            <!-- Form Name -->
            <legend>Register Form</legend>
            <!-- Text input-->
            <div class="form-group">
                <div class="row">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-4">
                        <input ngControl='username' name="username" type="email" placeholder="Email.." class="form-control input-md" required="">
                    </div>
                    <div class="row">
                        <div class="col-md-12"><br></div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-4">
                        <input ngControl='password' name="password" type="password" placeholder="Password.." class="form-control input-md" required="">
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-md btn-primary">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>