<div class="container">
    <form class="form-horizontal" [ngFormModel]="registerForm" (submit)="registerUser()">
        <fieldset>
            <!-- Form Name -->
            <legend>Register Form</legend>
            <!-- Text input-->
            <div class="form-group">
                <div class="row">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-4">
                        <input ngControl='username' type="email" placeholder="Email.." class="form-control input-md" #username = "ngForm" autofocus>
                       <div *ngIf="username.dirty">
                           <div class="alert alert-danger" *ngIf="username.errors">
                               <div *ngIf="username.errors.required">Username is required !!</div>
                               <div *ngIf="username.errors.minlength">Username too short !!</div>
                           </div>
                       </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12"><br></div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-4">
                        <input ngControl='password' name="password" type="password" placeholder="Password.." class="form-control input-md" #password = "ngForm">
                        <div *ngIf="password.dirty && !username.error">
                            <div class="alert alert-danger" *ngIf="password.errors">
                                <div *ngIf="password.errors.required">Password is required !!</div>
                                <div *ngIf="password.errors.minlength">Password too short !!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-2 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-md btn-primary" [disabled] = "!registerForm.valid">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>